@using BoardSquares.ViewModels
@model GameSummaryViewModel
@{
    ViewBag.Title = "All Teams";
}

<div id="MainPage">
    @using (Html.BeginForm("GameSummary", "Home", FormMethod.Post, new { vm = Model }))
    {
        if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <h2 style="text-align: center">@Model.ErrorMessage</h2>
        }
        else
        {
            <div class="col-md-3" style="padding-top:20px;">
                @if (Model.GamesList.Count > 1)
                {
                    <select class="form-control" style="max-width: 100%" onchange="switchGame(this)">
                        <option>Your active games</option>
                        @foreach (var m in Model.GamesList)
                        {
                            <option>@m</option>
                        }
                    </select>
                }
            </div>
            <div class="col-md-8 col-md-offset-1">
                <h2>All Teams for @Model.SelectedGame</h2>
            </div>

        }
        foreach (var game in Model.TeamList)
        {
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title ">Team: @game.TeamName</h1>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="newEventsTable"
                                   class="table table-condensed table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Player</th>
                                        <th>Points</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var player in game.TeamPlayers)
                                    {
                                        <tr>
                                            <td>@Html.Encode(player.PlayerTeam) - @Html.Encode(player.PlayerFirstName.Substring(0, 1)). @Html.Encode(player.PlayerLastName)</td>
                                            <td>@Html.Encode(player.TotalPoints)</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td>
                                            <b>Total</b>
                                        </td>
                                        <td>
                                            <b>@game.TeamTotal</b>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table id="tieBreakerPointsTable"
                                   class="table table-condensed table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Tie Breaker</th>
                                        <th>Points</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var player in game.TieBreakerPlayers)
                                    {
                                        <tr>
                                            <td>@Html.Encode(player.PlayerTeam) - @Html.Encode(player.PlayerFirstName.Substring(0, 1)). @Html.Encode(player.PlayerLastName)</td>
                                            <td>@Html.Encode(player.TotalPoints)</td>
                                        </tr>
                                    }
                                    @*<tr>
                                            <td>
                                                <b>Total</b>
                                            </td>
                                            <td>
                                                <b>@game.TieBreakerTotal</b>
                                            </td>
                                        </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }

    }
</div>


<script type="text/javascript">
    function switchGame(e) {
        var currentUrl = window.location.href;

        // Name and value of the new query parameter
        var paramName = "gamenumber";
        var paramValue = e.value;

        // Create a regular expression to find the existing parameter
        var paramRegex = new RegExp('(' + paramName + '=.*?)(&|$)', 'i');

        // Check if the parameter already exists in the URL
        if (paramRegex.test(currentUrl)) {
            // Parameter already exists, replace its value
            updatedUrl = currentUrl.replace(paramRegex, paramName + '=' + paramValue + '$2');
        } else {
            // Parameter doesn't exist, add it
            updatedUrl = currentUrl + (currentUrl.includes('?') ? '&' : '?') + paramName + '=' + paramValue;
        }

        // Redirect to the updated URL
        window.location.href = updatedUrl;
    }
</script>